.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.galleryItem {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryItem:hover .galleryItemInfo,
.galleryItem:focus .galleryItemInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.galleryItemInfo {
  display: none;
}

.galleryItemInfo li {
  list-style-type: none;
}

.galleryItemPhotographer {
  font-size: 1.7rem;
  font-weight: 600;
}

.galleryItemPhotographerUrl {
  font-size: 0.75rem;
  font-weight: normal;
}

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
  }

  .galleryItem,
  .gallery {
    width: auto;
    margin: 0;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 8px 0;
}

.pagination button {
  border: 1px solid #ccc;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination button:hover {
  cursor: pointer;
}

.pagination button[disabled] {
  cursor: not-allowed;
}

.searchContainer {
  background-color: #fff;
  position: relative;
  border-radius: 30px;
  border: 1px solid rgb(177, 172, 172);
  padding: 3px 50px 3px 10px;
  margin: 10px 0 30px 0;
}
.searchBox {
  background-color: transparent;
  outline: none;
  height: 35px;
  font-size: 15px;
  border: 0;
  width: 100%;
}
.searchButton {
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 2px;
  background-color: rgb(18, 24, 200);
  border-radius: 50%;
  border: 0;
  color: #fff;
  width: 35px;
  height: 35px;
  outline: 0;
}

.noResult {
  display: flex;
  justify-content: center;
  font-size: 3.75rem;
  font-weight: bold;
}
